body {
    background: lightcyan;
    font-family: "Trebuchet MS", sans-serif;
}

.no-link-decoration{
    text-decoration: none;
    color: black;
}

.no-link-decoration:hover{
    text-decoration: none;
    color:black;
    animation: ease;
}
/* index -- start */
#tag-container{
    background-color: white;
    height: 200px;
}
.fa-blog{
    color: white;
}

#search-bar {
    width: auto;
}
.nav-link{
    text-align: center;
}

.kafelek{
    border-radius: 10px;
    position: relative;
    margin: auto;
    background-color: beige;
    background-size: cover;
    display: inline-block;
    height: 200px;
    width: 100%;
    transition: 0.25s;

-webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.75);
box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.75);
}

.kafelek > h3 {
    position: absolute;
    bottom: -10px;
    height: auto;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding-bottom: 5px;

    color: white;
    text-align: center;
    background-color: black;
    opacity: 0.5;
}

.kafelek:hover{
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.75);
}


.jumbotron{
    -webkit-box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.75);
    color: black;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;

    background-size: cover;
    transition: 0.5s;
}

#main-jumbo:hover{
    text-decoration: none;
    color: black;
    border: white 5px;

    -webkit-box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.75);



}
.jumbotron-fill {
    background: rgba(256,256,256,.7);
    border-radius: 15px;
}
.jumbo-desc{
    text-align: center;
}


.footer{
    background-color: white;
    opacity: 0.6;
}

.footer > .container{
    margin-bottom: -20px;
}
.footer p{
    font-weight: bold;
    color: black;
}
/* end index.html*/

/* start article_display.html*/
header{
    background-color: beige;
    margin: 0 -15px 0 -15px;
    min-height: 300px;
}

header > h2 {
    font-size: 1.5em;
}

header > span {
    bottom: 20px;
}
/* end article_display */

.article-elem {

    color: black;
    min-height: 200px;
    border-radius: 15px;
    transition: background 0.3s, border 0.5s;
    background: rgba(76, 175, 80, 0.7);

}

.article-elem:hover{
    color: black;
    text-decoration: none;
    background: rgba(76, 175, 80, 1);
}


.article-elem > .col-7 {
    opacity: 1;
}

.article-elem img{
    border-radius: 50%;
    border: 2px black;
    max-width: 90%;
    max-height: 200px;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #tag-container {
        height: 580px;
    }
    header > h2 {
        font-size: 2em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbo-desc{
        text-align: justify;
        width: 50%;
    }
}