{% extends "base.html" %}

{% load static %}

{% block content_wrapper %}
    <div class="row p-3">

        {% for article in articles %}

            {% include "components/article_tile.html" %}

        {% endfor %}
        <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0">
                        <img src="{% static "sources/../../../media/img/../../../media/93539.jpg" %}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0">
                        <img src="{% static "sources/../../../media/img/../../../media/93539.jpg" %}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
                <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0" >
                        <img src="{% static "sources/../../../media/img/../../../media/93539.jpg" %}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0">
                        <img src="{% static "sources/../../../media/img/../../../media/93539.jpg" %}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}