{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Title </title>
    <link type="text/css" rel="stylesheet" href="{% static "vendors/css/bootstrap-min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "sources/css/styles.css" %}">

    <script src="https://kit.fontawesome.com/270602e4bd.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="index.html"><i class="fas fa-blog navbar-brand"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="category-list.html">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 mx-md-0 mx-5 my-lg-0">
            <input class="form-control mr-0 mr-sm-2 ml-auto" id="search-bar" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto ml-sm-2 mr-auto" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0">
                        <img src="{% static "sources/img/93539.jpg"%}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
                <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0">
                        <img src="{% static "sources/img/93539.jpg"%}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0">
                        <img src="{% static "sources/img/93539.jpg"%}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
                <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0" >
                        <img src="{% static "sources/img/93539.jpg"%}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
                <div class="col-lg-6 p-3">
            <a href="article_display.html" class="d-block article-elem">
                <div class="row p-3">
                    <div class="col-7 p-3">
                        <h3 class="text-decoration-none">Tytuł artykułu</h3>
                        <p class="text-decoration-none text-justify"> Blah blah blah blah. Blah blah blah blah. Blah blah blah blah. Blah blah blah blah.
                        /n Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.
                        Blah blah blah blah. Blah blah blah blah.</p>
                    </div>
                    <div class="col-5 p-0">
                        <img src="{% static "sources/img/93539.jpg"%}" alt="Obrazek do artykułu">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<footer class="footer p-0">
    <div class="container text-center">
        <p>All rights reserved @ 2020</p>
    </div>
</footer>

<script src="../static/vendors/js/jquery-min.js"></script>
<script src="../static/vendors/js/popper.js" ></script>
<script src="../static/vendors/js/bootstrap-js.js"></script>
<script src="../static/vendors/js/script.js"></script>

</body>
</html>