<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../css/bootstrap-min.css">
    <link rel="stylesheet" href="../css/styles.css">

    <script src="https://kit.fontawesome.com/270602e4bd.js" crossorigin="anonymous"></script>

    <title>Categories</title>
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="index.html"><i class="fas fa-blog navbar-brand"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="category-list.html">Articles<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 mx-md-0 mx-5 my-lg-0">
            <input class="form-control mr-0 mr-sm-2 ml-auto" id="search-bar" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto ml-sm-2 mr-auto" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>


<div class="container mt-3">
    <div class="row">
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Zdrowie</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Uroda</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Żywota świętych</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Alternatywki</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Urodzinowe prezenty</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Czarne Msze</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Śmierć</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>O Tobie</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Sławne Anny</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Plotki</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Przepisy na ciastka</h3>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 my-4">
            <a href="article-list.html" class="kafelek">
                <h3>Memy z Trzaskowskim i Dudą</h3>
            </a>
        </div>

    </div>
</div>


<footer class="footer p-0">
    <div class="container text-center">
        <p>All rights reserved @ 2020</p>
    </div>
</footer>


<script src="../js/jquery-min.js"></script>
<script src="../js/popper.js" ></script>
<script src="../js/bootstrap-js.js"></script>
<script src="../js/script.js"></script>



</body>
</html>