{% extends "base.html" %}

{% block content_wrapper %}

    <main role="main" id="main-page-container">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-9">
                    <a class="jumbotron" href="articles/article_display.html">
                        <h2>Duża historia</h2>
                        <p class="jimbo-desc">Zobacz, co to się stało strasznego. Duzo, dużo, dużo tekstu Zobacz, co to się stało strasznego. Duzo, dużo, dużo tekstu Zobacz, co to się stało strasznego. Duzo, dużo, dużo tekstu Zobacz, co to się stało strasznego. Duzo, dużo, dużo tekstu</p>
                    </a>
                    <div class="row">
                        <div class="col-md-6 p-3">
                            <a class="kafelek" href="articles/article_display.html">
                                <h3>Kafelek 1</h3>
                            </a>
                        </div>
                        <div class="col-md-6 p-3">
                            <a class="kafelek" href="articles/article_display.html">
                                <h3>Kafelek 2</h3>
                            </a>
                        </div>
                        <div class="col-md-6 p-3">
                            <a class="kafelek" href="articles/article_display.html">
                                <h3>Kafelek 3</h3>
                            </a>
                        </div>
                        <div class="col-md-6 p-3">
                            <a class="kafelek" href="articles/article_display.html">
                                <h3>Kafelek 4</h3>
                            </a>
                        </div>
                        <div class="col-md-6 p-3">
                            <a class="kafelek" href="articles/article_display.html">
                                <h3>Kafelek 5</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 align-self-end align-self-lg-auto">
                    <div class="p-3" id="tag-container">
                        <h2> Tu będą tagi, tylko trzeba poczekać</h2>

                    </div>
                </div>
            </div>
        </div>

    </main>



{% endblock %}

</body>
</html>